.sour-gummy-Title {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1.sour-gummy-Title {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    margin: 10px 0; /* Remove top and bottom margin */
    padding: 0; /* Remove any extra padding */
    line-height: 1.2; /* Adjust line height (optional) */
}
h3.normal {
    font-weight: normal; /* Override the default bold weight */
    margin: 10px 0; /* Remove top and bottom margin */
    padding: 0; /* Remove any extra padding */
    line-height: 1.4; /* Adjust line height (optional) */
    font-size: 24px;
    color: #303234;
}
.husayhub {
    font-weight: bold;
    background-image: linear-gradient(
        to right,
        #162f65,
        #e8af30
    ); /* Gradient from color 1 to color 2 */
    -webkit-background-clip: text; /* Clips the background to the text */
    color: transparent; /* Makes the text transparent so the gradient is visible */
}
